.calculator{
  display:flex;
    border:18px;
    border-color: black; 
    width: 300px;
    height: 400px;
    padding: 20px;
    margin: 20px;  

    

}

.display{
    display:flex;
}

.Buttons{
    display:flex;
}